body {
  background: url(https://cdn.pixabay.com/photo/2021/07/06/19/26/drops-6392473__480.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}
.btn-add:hover {
  background-color: #0077b6 !important;
}
